@model microCMDB.Web.Models.Node

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Node</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OS_Version" class="control-label"></label>
                <input asp-for="OS_Version" class="form-control" />
                <span asp-validation-for="OS_Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU_Arch" class="control-label"></label>
                <input asp-for="CPU_Arch" class="form-control" />
                <span asp-validation-for="CPU_Arch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage" class="control-label"></label>
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPaddr" class="control-label"></label>
                <input asp-for="IPaddr" class="form-control" />
                <span asp-validation-for="IPaddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigItemID" class="control-label"></label>
                <select asp-for="ConfigItemID" class ="form-control" asp-items="ViewBag.ConfigItemID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HostId" class="control-label"></label>
                <input asp-for="HostId" class="form-control" />
                <span asp-validation-for="HostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
