@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{ 
    <h1 class="text-dark">Home - Configuration Items</h1>

    <div class="text-center text-dark">
        <p>Here you can find entries for all Configuration Item entries on this database.</p>
        <br />
        <br />
        <a class="btn btn-primary" href="/ConfigItems/Index">Configuration Items</a>
        <br />
        <br />
        <a class="btn btn-primary" href="/Softwares/Index">Software Collection</a>
        <br />
        <br />
        <a class="btn btn-primary" href="/NetworkUsers/Index">Users</a>
        <br />
        <br />
        <a class="btn btn-primary" href="/Nodes/Index">Nodes</a>
        <br />
        <br />
        <a class="btn btn-primary" href="/Hosts/Index">Hosts</a>
        <br />
        <br />
        <a class="btn btn-primary" href="/Services/Index">Services</a>
    </div>
}
else
{
    <h1>Home</h1>
    <div class ="text-center text-dark">
        <p>You are currently not logged in. To use uCMDB, you must <a asp-area="Identity" asp-page="/Account/Login">login.</a></p>
    </div>
}
