@{
    ViewData["Title"] = "uCMDB";
}
<h2>Configuration Items</h2>

<div class="text-center">
    
    <p>Here you can find entries for all Configuration Item entries on this database.</p>
    <br />
    <br />
    <a class="btn btn-primary" href="/Software/Index">Software</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/Users/Index">Users</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/Service_Node/Index">Nodes</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/Service_Host/Index">Hosts</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/Services/Index">Services</a>
</div>
