@model uCMDB.API.Models.Service_Host

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service_Host</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host_IP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host_IP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Host_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
